/* css reset */
* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    padding: 40px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

blockquote {
    margin: 0 0 0 30px;
}

h3,h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 20px;
}

blockquote {
    font-style: italic;
    line-height: 30px;
    margin: 20px;
}

span {
    text-decoration: line-through;
}
strong {
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: red;
}

em {
    text-transform: capitalize;
}
